@import url('https://fonts.googleapis.com/css?family=Raleway');

$background-color: #2c3e50;

$input-background-color: #34495e;
$container-width: 35vw;

html, body {
    height: 100vh;
    display: grid;
    overflow: hidden;
}

body {
    background-color: $background-color;
}

.container {
    margin: auto;
    width: $container-width;
    text-align: center;

    @media only screen and (max-width: 768px) {
        width: 70vw;
    }
}

input[type=text] {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: $input-background-color;
    border-style: solid;
    border-width: 2px;
    outline: none;
    border-color: white;
    transition: all 350ms;
    padding: 8pt;
    width: 100%;
    font-weight: 500;
    color: white;

    &:not([readonly]):enabled:focus {
        border-color: #1abc9c;
    }
}

label {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    text-align: center;
    color: white;
}

input[type=button] {
    box-sizing: border-box;
    outline: none;
    border-style: none;
    font-family: 'Raleway', sans-serif;
    padding: 12pt;
    background-color: #12CBC4;
    color: black;
    transition: all 400ms;
    cursor: pointer;
    width: 100%;
    font-size: 12pt;
    font-weight: 600;

    &:hover {
        background-color: #1289A7;
        color: white;
    }
}

#submitButton {
    margin-top: 12pt;
    margin-top: 12pt;
}