<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(charset='UTF-8')
        meta(name='robots', content='nofollow')
        meta(name='title', content='Robins Mockbob')
        meta(name='description', content="A spongebob inspired meme generator.")
        meta(name='keywords', content='mockbob, spongebob, meme, deeprobin, robin lindner')
        meta(name='author', content='Robin Lindner (DeepRobin)')
        meta(name='theme-color', content='#12CBC4')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='aqua')
        meta(name='apple-mobile-web-app-title', content='MoCkBob')
        meta(name='msapplication-TileImage', content='img/icons/icon-144x144.png')
        meta(name='msapplication-TileColor', content='#12CBC4')
        meta(name='twitter:title', content='MoCkBoB - DeepRobin.DE')
        meta(name="twitter:card", content='summary')
        meta(name='twitter:creator', content='@_deeprobin')
        meta(name="twitter:image", content="/img/background.png")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(property="og:title", content="MoCkBoB - DeepRobin.DE")
        meta(property="og:description", content="A spongebob inspired meme generator.")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://mockbob.deeprobin.de/")
        meta(property="og:image", content="/img/background.png")
        link(rel='icon', type="image/png", href='/img/icons/icon-72x72.png' sizes="72x72")
        link(rel='icon', type="image/png", href='/img/icons/icon-96x96.png' sizes="96x96")
        link(rel='icon', type="image/png", href='/img/icons/icon-128x128.png' sizes="128x128")
        link(rel='icon', type="image/png", href='/img/icons/icon-144x144.png' sizes="144x144")
        link(rel='icon', type="image/png", href='/img/icons/icon-152x152.png' sizes="152x152")
        link(rel='icon', type="image/png", href='/img/icons/icon-192x192.png' sizes="192x192")
        link(rel='icon', type="image/png", href='/img/icons/icon-384x384.png' sizes="384x384")
        link(rel='icon', type="image/png", href='/img/icons/icon-512x512.png' sizes="512x512")
        link(rel='apple-touch-icon', href='/img/icons/icon-152x152.png')
        link(rel='manifest', href='/manifest.json')
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/script.js", defer)
        title MoCkBoB - DeepRobin.DE
    body
        .container
            div
                label(for="sourceText") Original Text
            div
                input#sourceText(type="text", placeholder="Enter the unmocked text", name="sourceText", maxLenght="1000")
            div
                input#submitButton(type="button", value="Submit")
            div
                label(for="outputText") Output
            div
                input#outputText(type="text", name="outputText", readonly)